<% provide(:title, "Home") %>

<div class="container">

<%= render 'shared/flash' %>

  <div class="row">
   <div class="col-12">
    <h1>おにき治療院</h1>
    <p>おにき治療院の予約システムへようこそ</p>
   </div>
  </div>
</div>